.footer{
    background: #556080;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
        
    ul{
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        
       li{
        padding: 30px;
        list-style: none;
       }
    }
}