.header-wrapper{
    background: #353f49;

    h1{
        padding: 20px 45px;
        margin: 0;
    }

    .blue-span{
        color: #168098;
    }
    
    .white-span{
        color: white;
    }
}

