.wrapper{
    display: grid;
    grid-template-columns: repeat( 3, 1fr );
}

.product-wrapper{
    display: flex;
    margin-block: 10px;
    width: 80%;
    border: 1px solid;
    flex-direction: column;
    text-align: center;

    img{
        width: 100%;
    }

    .prod-title{
        background: #1fa2d6;
        color: white;
        text-align: center;

        h2{
            font-weight: bold;
            margin-top: 0;
        }
    }

    a{
        text-decoration: none;
        color: white;
        background-color: #e94b3f;
        text-align: center;
        padding: 10px;
    }

    button{
        width: 40%;
        margin: 0 auto 10px;
        background: #1fa2d6;
        color: white;
        padding: 10px;
        border: none;
    }
}

